<h1>Building Editor</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{building.address}}</mat-card-title>
    <mat-card-subtitle>{{building.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-nickname-editor [nicknames]="building.nicknames"
                         [validator]="nicknameValidator"
                         (nicknamesChanged)="onNicknamesChanged($event)">
    </app-nickname-editor>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="saveButtonDisabled" (click)="onClickSave($event)">Save</button>
  </mat-card-actions>
</mat-card>